html {font-size: 62.5%;}
body {
    font-family: system-ui,-apple-system,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans','Liberation Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    background-color: $bg-dark;
    font-size: 1.4rem;
    color: $text-light;
}
.h1 {
    font-size: 2.1rem;
    line-height: 1em;
    margin-bottom: 3rem;
}
.container {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    padding: 6rem 5rem 8rem;
    display: flex;
    flex-direction: column;
}
.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}
.hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
}
.link-wrap {
    width: 100%;
    height: 100%;
    &:hover {
        text-decoration: underline;
    }       
}
.no-scroll {
    overflow: hidden;
}






/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $scroll-thumb $scroll-track;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: $scroll-track;
}
*::-webkit-scrollbar-thumb {
  background-color: $scroll-thumb;
  border-radius: 5px;
  border: 3px solid $scroll-track;
}