$fa-font-path: '../fonts/webfonts';


$bg-darkest: 	#0D0D0D;
$bg-darker: 	#121212;
$bg-dark: 		#181818;
$bg-dark-gray: 	#202020;
$bg-child-nav:	#3137C9;
$bg-light: 		#C4C4C4;

$text-light: 		#fff;
$text-light-gray: 	#D2D2D2;
$text-gray:			#828282;
$text-blue: 		#107EFF;

$border-light:	#fff;
$border-gray:	#3f3f3f;
$border-dark: 	#1C1C1C;
$border-blue: 	#3137C9;

$btn-bg-red: 	#ED3024;
$btn-bg-blue: 	#3137C9;
$btn-bg-light:	#EBEBEB;

$btn-border-red: 	#CD251A;
$btn-border-blue: 	#2A5FE7;

$btn-icon-gray: #989898;

$pagin-bg: #0D0D0D;
$pagin-bg-active: #104BE3;

$ref-link: #F3EBA2;

$tag-bg: #EA8C1E;

$instagram1: 	#8E7F42;
$instagram2: 	#FF543E;
$instagram3: 	#C837AB;
$vk: 			#4D76A1;
$pinterest: 	#CB2027;
$facebook: 		#3B5998;
$twitter:		#55ACEE;

$scroll-track: #0D0D0D;
$scroll-thumb: #3137C9;

$z-index-modal: 		4;
$z-index-sidebar: 		3;
$z-index-header: 		3;
$z-index-overlay-story: 1;
$z-index-text-story:	2;

$width-sidebar: 30rem;
$height-header: 4rem;