$fa-font-path: "../webfonts";


$bg-darkest: 	#0D0D0D;
$bg-darker: 	#121212;
$bg-dark: 		#181818;
$bg-dark-gray: 	#202020;

$text-light: 		#fff;
$text-light-gray: 	#D2D2D2;
$text-blue: 		#107EFF;

$border-light: #fff;

$btn-bg-red: 	#ED3024;
$btn-bg-blue: 	#3137C9;

$btn-border-red: 	#CD251A;
$btn-border-blue: 	#2A5FE7;

$z-index-sidebar: 	1;
$z-index-header: 	1;

$width-sidebar: 30rem;
$height-header: 4rem;