.auth {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	&__h1 {
		margin-bottom: 6rem;
	}
	&__form {
		width: 28rem;
	}
	&__btn {
		align-self: center;
	}
}
