.burger {
	width: 3rem;
	height: 2rem;
	position: relative;
	&__item, &::before, &::after {
		display: block;
		height: 0.2rem;
		position: absolute;
		left: 0;
		right: 0;
		background-color: $bg-light;
		transition: transform .2s ease-in-out;
	}		
	&__item {
		top: 50%;
		transform: translateY(-50%);
	}	
	&::before {
		content: "";
		top: 0;
	}
	&::after {
		content: "";
		bottom: 0;
	}
	&--active &__item {
		display: none;
	}
	&--active {
		&::before {
			top: 50%;
			transform: translateY(-50%) rotate(45deg);
		}
		&::after {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}
}