.header {
	position: fixed;
	top: 0;
	right: 0;
	z-index: $z-index-header;
	width: calc(100% - $width-sidebar);
	height: $height-header;
	background-color: $bg-darkest;
	box-shadow: 0 .5rem 2.2rem rgba(0,0,0,.25);
	display: flex;
	justify-content: space-between;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently not supported by any browser */
	@include breakpoint($notebook) {
		width: 100%;
	}
	&__left {
	}
	&__right {
		display: flex;
	}
	&__burger {
		margin: 1rem 1.5rem;
		display: none;
		@include breakpoint($notebook) {
			display: block;
		}
	}	
	&__nav {
		@include breakpoint($notebook) {
			display: none;
		}
	}	
	&__user-buttons {
		@include breakpoint($notebook) {
			display: none;
		}
	}
	&__search-form {
	}
	&__search-input {
		height: 100%;
		width: 21.2rem;
		font-size: 1.2rem;
		background-color: $bg-dark-gray;
		padding: 0 2rem !important;
	}
}