.profile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	&__h1 {
		margin-bottom: 6rem;
		@include breakpoint($mobileL) {
			margin-bottom: 4rem;
		}
	}
	&__content {
		display: flex;
		justify-content: space-between;
		@include breakpoint($mobileL) {
			flex-direction: column-reverse;
		}
	}	
	&__left {
		width: 34rem;
		@include breakpoint($mobileL) {
			width: 100%;
		}
	}
	&__right {
		display: flex;
		flex-direction: column;
		margin: 0 0 0 3rem;
		@include breakpoint($mobileL) {
			margin: 0 0 3rem 0;
		}
	}
	&__photo-wrap {
		box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.25);
		width: 15rem;
		height: 15rem;
		@include breakpoint($mobileM) {
			width: 13rem;
			height: 13rem;
		}
	}
	&__photo {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__photo-btn {
		margin-top: 1.5rem;
		color: $text-blue;
		text-decoration: underline;
		transition: text-decoration .2s linear;
		cursor: pointer;
		&:hover {
			text-decoration: none;
		}
	}
}
