.social-buttons {
	&__list {
		display: flex;
		gap: 1.5rem;
	}
	&__item {
	}
	&__link {
		font-size: 0;
		text-decoration: none;
	}
	&__icon {
		width: 2.5rem;
		height: 2.5rem;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		&--instagram {
			border-radius: .6rem;
			background: url('../images/img/instagram.svg') center no-repeat, linear-gradient(45deg, $instagram1, $instagram2, $instagram3);
		}
		&--vk {
			border-radius: 1.3rem;
			background: url('../images/img/vk.svg') center no-repeat;
		}
		&--pinterest {
			border-radius: 1.3rem;
			background: $pinterest url('../images/img/pinterest.svg') center 60% no-repeat;
		}
	}
}