.wall {
	display: flex;
	flex-direction: column;
	&__new-post {
		margin-bottom: 3rem;
	}
	&__posts {
	}
	&__pagination {
		margin-top: 8rem;
		@include breakpoint($mobileL) {
			margin-top: 2rem;
		}
	}
}
