.work {
	width: 100%;
	height: 55rem;
	display: flex;
	background-color: $bg-dark-gray;
	border-radius: 0 .5rem .5rem 0;
	overflow: hidden;
	box-shadow: 0 1.5rem 2.5rem rgba(0,0,0,.35);
	&__left {
	}
	&__img-wrap {
		width: 100%;
		height: 100%;
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__right {
		width: 29rem;
		flex-shrink: 0;
		padding: 2.5rem;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
	&__h2 {
		font-size: 2.4rem;
		font-weight: 500;
	}
	&__description {
		color: $text-light-gray;
		font-size: 1.6rem;
		line-height: 1.6em;
		font-weight: 300;
	}
	&__tags {
	}
	&__link {
		margin-top: auto;
		align-self: flex-end;
	}
}