<header class="header">
	<div class="header__left">
		<nav class="header__nav nav">
			<ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="">Главная</a>
				</li>
				<li class="nav__item">
					<a class="nav__link nav__link--parrent" href="">Статьи</a>
					<div class="nav__children children-nav">
						<ul class="children-nav__list">
							<li class="children-nav__item">
								<a class="children-nav__link" href="№">Создание сайтов</a>
							</li>
							<li class="children-nav__item">
								<a class="children-nav__link" href="№">Интернет-маркетинг</a>
							</li>
							<li class="children-nav__item">
								<a class="children-nav__link" href="№">Продвижение видео</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="">Обо мне</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="">Реклама</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header__right">
		<div class="header__user-buttons user-buttons">
			<ul class="user-buttons__list">
				<li class="user-buttons__item"><a class="user-buttons__link" href="#">Профиль</a></li>
				<!-- <li class="user-buttons__item"><a class="user-buttons__link" href="#">Выйти</a></li> -->
			</ul>			
		</div>
		<form class="header__search-form" action="/">
			<input class="header__search-input" type="search" placeholder="Поиск по блогу"/>
		</form>
	</div>
</header>
