.btn {
	font-size: 1.2rem;
	line-height: 1.1;
	text-align: center;
	&--circle {
		border-radius: 2.08em;
		padding: 1.1em 0;
		width: 10em;
		font-weight: 500;
	}
	&--square {
		border-radius: .5rem;
		padding: .7em 1.25em;
	}
	&--red {
		background: $btn-bg-red;
		border: 1px solid transparent;
		color: $text-light;	
		box-shadow: 0 .7rem 1.7rem -1rem rgba($btn-bg-red, .2);	
		&:hover {
			background: darken($btn-bg-red, 5%);
		}
	}
	&--blue {
		background: $btn-bg-blue;
		border: 1px solid transparent;
		color: $text-light;
		box-shadow: 0 .7rem 1.7rem -1rem rgba($btn-bg-blue, .2);
		&:hover {
			background: darken($btn-bg-blue, 5%);
		}	
	}
	&--transp-blue {
		background: transparent;
		color: $text-blue;
	}
	&--transp-light {
		background: transparent;
		color: $text-light;
	}
}