.btn {
	transition: all .2s ease-in-out;
	// форма
	&--circle {
		border-radius: 2.08em;
		padding: 1.1em 0;
		width: 10em;
		font-weight: 500;
		font-size: 1.2rem;
		line-height: 1.1;
		text-align: center;
	}
	&--round {
		width: 4.4rem;
		height: 4.4rem;
		border-radius: 50%;
		font-size: 0;
	}
	&--square {
		border-radius: .5rem;
		padding: .7em 1.25em;
		font-size: 1.2rem;
		line-height: 1.1;
		text-align: center;
	}

	// цвет
	&--red {
		background-color: $btn-bg-red;
		border: 1px solid transparent;
		color: $text-light;	
		box-shadow: 0 .7rem 1.7rem -1rem rgba($btn-bg-red, .2);	
		&:hover {
			background-color: darken($btn-bg-red, 10%);
		}
	}
	&--blue {
		background-color: $btn-bg-blue;
		border: 1px solid transparent;
		color: $text-light;
		box-shadow: 0 .7rem 1.7rem -1rem rgba($btn-bg-blue, .2);
		&:hover {
			background-color: darken($btn-bg-blue, 10%);
		}	
	}
	&--light {
		background-color: $btn-bg-light;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover::before {
			color: darken($btn-icon-gray, 10%);
		}	
		&::before {
			color: $btn-icon-gray;
			font-size: 2.2rem;	
			line-height: 1.1;
			transition: color .2s ease-in-out;
		}
	}
	&--transp-blue {
		background: transparent;
		color: $text-blue;
		&:hover {
			color: darken($text-blue, 10%);
		}	
	}
	&--transp-light {
		background: transparent;
		color: $text-light;
		&:hover {
			color: darken($text-light, 10%);
		}	
	}

	//иконки
	&--send {
		background-image: url('../images/img/send.svg');
		background-position: 55% 50%;
		background-repeat: no-repeat;
	}
}